## Python Programming Language (Notes)

## Variable and Data type
### variables are the name given to a memory location for example: a = 30, b = "Python"

### Python has 4 data types
### 1. Integer = 30,40,50
### 2. floats = 30.5, 40.5, 50.5
### 3. Boolean = True, False
### 4. Strings = "Python Strings are Immutable"
### 5. None =  To denote none value

## Keywords 
### Keywords are the reserved name in python which can not be used as variable

In [1]:
# how to import keyword list
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Variables can not start with numbers it takes only alphabet or underscore as starting value of variable

### How to check data type in python

In [2]:
a = 300
b = "python"
print(type(a)); print(type(b))

<class 'int'>
<class 'str'>

## Operators

### 1. Arthmetic Operators (Simple calculation with variables)

In [3]:
a = 30;  a += 2;  print(a);  print(type(a))

32
<class 'int'>

In [4]:
a = 30;  a -= 2;  print(a);  print(type(a))

28
<class 'int'>

In [5]:
a = 30;  a *= 2;  print(a);  print(type(a))

60
<class 'int'>

In [6]:
a = 30;  a /= 2;  print(a);  print(type(a))

15.0
<class 'float'>

In [7]:
a=30
print(a);print(type(a))

30
<class 'int'>

### Modulus operator

In [8]:
a = 4; b = 3; c = float(a % b); print(c); # this operator writtens remainder values of divide

1.0

In [9]:
a = 4; b = 3; c = float(a / b); print(c);

1.3333333333333333

In [10]:
a = 4; b = 3; c = float(a / b); print(round(c,2));

1.33

### Float division (//), writtens round down values

In [11]:
4//5

0

In [12]:
a=4/5
print(round(a))

1

### Exponential operators (**), writtens mulitplied values of variable into number followed by ( * * )

In [13]:
a = 2; print(a**2); b = 3; print(3**3); c = print(a**2*b**3)

4
27
108

## 2. Comparison Operators (Compares two of more entities)

In [14]:
b = (4>7);print(b) if b==True else print("Condition not match");
b = (14>7); print(b)if b==True else print("Condition not match");
b = (14==14); print(b) if b==True else print("Condition not match");
b = (14<14); print(b) if b == True else print("Condition not match")

Condition not match
True
True
Condition not match

### Equals to and not Equals to (Equals ==, Not Equals !=)

In [15]:
a = 10; b = 10; print(a == b); print(a != b)

True
False

## 3. Logical Operators (and, or, not) These operators work on boolean values

In [16]:
a = True; b = False
print(a & b) #if either of both is false & function (and function) will return False

False

In [17]:
a = True; b = False
print(a | b) # this (or function) function will return true valuse if any of both is True

True

## Typecasting (Typecasting is a way to convert a data type)

In [18]:
a = "35";print(type(a)); #print(a + 5) This function will reflect the TypeError
print("-------------------")
a = int(a); print(a + 5);print(type(a)) # Here we have converted the str into int

<class 'str'>
-------------------
40
<class 'int'>

## Input function (Input function allows user to take input from the keyboard as string)

In [19]:
# a = input("Enter a number"); print(a); print(type(a)) #this will written numbers in str. To convert it into int____
# a = int(input("Enter a number")); print(a); print(type(a)) # this will allow user to insert integers only...

## Single Quoted Strings/Double Quoted Strings & Tripple Quoted Strings and their uses

## 1. Single Quoted String (if there is no other quote inside the string)

In [20]:
a = 'python'; print(a);

python

## 2. Double Quoted String (when there is single quotes inside the string)

In [21]:
name = "Python's"; print(name)

Python's

## 3. Tripple Quoted String (When string goes in multiple lines)

In [22]:
poem = '''Twinkle Twinkle little
star how I wonder what you are'''; print(poem)

Twinkle Twinkle little
star how I wonder what you are

## Length of string and extract indexing value from the string

In [23]:
name = "Python"; print(f"The length of variable is: {len(name)} and the selected index value is:{a[2]}")

The length of variable is: 6 and the selected index value is:t

## Concatenation of strings

In [24]:
a = "Hello";
b = "Python";
print(a+" "+b);
print(a,b);
print(a[0],b[0]);
print(a[0] + " " + b[0])
str((a)+" "+(b))

Hello Python
Hello Python
H P
H P

'Hello Python'

## String Slicing (start value inclusive, end value exclusive)

In [25]:
name = "Python Programming Language"
print(name[0:6]) # this will start from 0 and run till 5th index of string with step (gap) 1
print(name[0::2])# this will start from 0 and run till end of string with step of 2
print(name[-1]) # this will run last index of the string
print(name[:5:])# this will start from 0 and run till 4 value with step 1
# Note: in indexing, the first value is starting point,second value is end point and end point value is excluded,
#the third value is steps or gaps between starting and end points.

Python
Pto rgamn agae
e
Pytho

## Some string functions
### 1. String.endswith() 
### This function will check whether the string is ending with the given text inside peranthese or not

In [26]:
name = "Python"; 
if name.endswith("on") == True:
    print("Yes this string is ending with on")
else:
    print("Condition not match")

Yes this string is ending with on

In [27]:
name = "Python".upper();print(name)
print("------------")
print("Yes the string ends with 'on'")if name.upper().endswith('ON')==True else print("Condition not match")

PYTHON
------------
Yes the string ends with 'on'

In [28]:
name = "Python".upper();print(name)
print("---------")
print("Yes the string starts with 'P'") if name.upper().startswith('P')==True else print("Condition not match")

PYTHON
---------
Yes the string starts with 'P'

### 2. string.count()
### This function will return the number of specific character inside the string

In [29]:
name = "My Python"
print(name.count("y"))

2

## 3. capitalize()
### This function changes the sentese case into the standard.

In [30]:
name = "i"; name1 = "AM"; name2 = "pYTHON"
print(name.capitalize(),name1.capitalize(),name2.capitalize())

I Am Python

## 4. lower()
### This function changes the sentense case into lower.

In [31]:
name = "I AM PYTHON"
print(name.lower())

i am python

## 5. Upper()
### This function changes the sentense case into upper.

In [32]:
name = "i am python"
print(name.upper())

I AM PYTHON

## 6. Find()
### This function will find the particular character and will return the index number of the character inside the string

In [33]:
name = "Python is a programming lannguage"
print(name.find("programming"))

12

## 7. Replace()
### This function will replace all the previous value with new given value

In [34]:
language = "HTML is a programming language"
print(language)
print("--------------------------------")
print(language.replace("HTML","Python"))

HTML is a programming language
--------------------------------
Python is a programming language

## 8. Escape Sequence Character
### This will enable the user to add enter and tabs between the string

In [35]:
languages = "HTML\nCSS\nPython"
lang1 = "HTML\\CSS\\Python"
print(languages)
print(lang1)

HTML
CSS
Python
HTML\CSS\Python